{% extends "admin/base.html.twig" %}

{% block content %}
    <form class="bootstrap-form-with-validation" method="post" action="/admin/about">
        <h2>About Site</h2>
        <p> </p>
        <div class="form-group">
            <label class="control-label" for="title">Site Name: </label>
            <input class="form-control"  type="text" name="title" required maxlength="50" value="{{ siteDetail.getTitle() }}">
        </div>
        <div class="form-group">
            <label class="control-label" for="tagline">Tagline: </label>
            <input class="form-control"  type="text" name="tagline" required maxlength="100" value="{{ siteDetail.getTagline() }}">
        </div>
        <div class="form-group">
            <label class="control-label" for="body">Body Text:</label>
            <textarea class="form-control" rows="15" name="body" required>{{ about.getBody() }}</textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="text-input">Date Modified:</label>
            <p class="form-static-control">{% if account.getDateModified() is not empty %}{{ about.getDateModified()|date("F d, Y g:i A") }}{% endif %}</p>
            <p> </p>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Save </button><span> </span>
            <button class="btn btn-default" type="reset">Reset</button>
        </div>
    </form>
{% endblock %}