{% extends "base.html.twig" %}

{% block content %}
    <h2 class="text-info"><img src="../assets/img/robo.png"> Page not found!</h2>
    <h4><a href="javascript:history.go(-1)" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Go Back</a></h4>
{% endblock %}