div#header{
  display:none;
  visibility:hidden;
}

div.jumbotron{
  display:none;
  visibility:hidden;
}

div#footer{
  text-align:center;
}

div#body{
}

article{
  max-width:800px;
}

body{
  font-family: "Calibri";
  background-color:rgba(255,255,255,0.5);
}

div#bodyContent{
  max-width:1000px;
  display:block;
  margin-left:10px;
  background-color:rgba(255,255,255,1);
  padding:10px;
}

nav.navbar.navbar-default{
  margin-bottom:0px;
}

div#menuContent{
  max-width:1000px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

img{
  max-width: 950px;
}