{% extends "base.html.twig" %}

{% block content %}
	<h2>About {{ siteDetail.getTitle() }}</h2>
	<small><b>Date Published: </b>{{ about.getDateModified() }}</small>
	<p/>
    <p>{{ about.getBody() }}</p>
{% endblock %}